<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="simple link shortener service">
    <meta property="og:title" content="arah shortener">
    <meta property="og:description" content="simple link shortener service">
    <meta property="og:image" content="https://twemoji.maxcdn.com/v/latest/svg/1f449.svg">
    <link rel="icon" href="https://twemoji.maxcdn.com/v/latest/svg/1f449.svg"/>
    <title>arah shortener</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
</head>

<body>
<div>
    <div>
        <h1>👉 arah shortener</h1>
    </div>
    <form method="post" action="submit">
        <div>
            {{ if .ErrorString  }}
                <blockquote style="border-left: 4px solid rgba(203,21,21,0.67)">
                    {{ .ErrorString }} ❗
                </blockquote>
            {{end  }}

            {{ if .ShortenedLink }}
                <blockquote>
                    Link created!
                    <a href={{( printf "%s%s" "//" .ShortenedLink)}}>{{.ShortenedLink}}</a>
                    goes to
                    <a href={{(.OriginalLink)}}>{{.OriginalLink}}</a>
                </blockquote>
            {{end}}

            <div class="row">
                <label>{{ .Domain }}/</label>
                <input name="slug" type="text" placeholder="glittery-stars">
                <label>Redirects to ⬇️</label>
                <input name="link" type="text" placeholder="https://glittery-stars.site/">
            </div>

            <h2></h2>

            <div class="h-captcha" data-sitekey={{ .HcSitekey }}></div>
            <h4></h4>

            <input type="submit" value="Create">
        </div>
    </form>
</div>
</body>
</html>