<html>
<head>
    <title>arah shortener</title>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
</head>

<body class="dark">
<div class="container">
    <div class="row">
        <h1>👉 arah shortener</h1>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-1">
                <p>arahin.site/</p>
            </div>

            <div class="col">
                <input name="slug" type="text" placeholder="glittery-stars">
            </div>

            <div class="col-1">
                <p style="text-align: center">👉</p>
            </div>

            <div class="col">
                <input name="link" type="text" placeholder="https://glittery-stars.site/">
            </div>

            <div class="col">
                <input type="submit" value="Create">
            </div>
        </div>
    </form>
</div>
</body>
</html>