<!DOCTYPE html>
<html>
<head>
    <title>arah shortener</title>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
</head>

<body class="dark">
<div class="container">
    <div class="row">
        <h1>👉 arah shortener</h1>
    </div>
    <form method="post" action="submit">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-2">
                        <p>{{ .domain }}/</p>
                    </div>

                    <div class="col-4">
                        <input name="slug" type="text" placeholder="glittery-stars">
                    </div>

                    <div class="col-2">
                        <p style="text-align: center">👉</p>
                    </div>

                    <div class="col-4">
                        <input name="link" type="text" placeholder="https://glittery-stars.site/">
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: end">
                        <div class="h-captcha" data-sitekey={{ .hcsitekey }}></div>
                        <input type="submit" value="Create">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>